{% extends 'list/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Edit list{% endblock %}

{% block body %}

<h1>Editing list "{{ list }}"</h1>

{% crispy list_form %}
<a class="btn btn-primary" href="{% url 'list' list.id list.slug %}">Edit or Delete Books</a>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteListModal">
    Delete List
</button>


<div class="modal fade" id="deleteListModal" tabindex="-1" aria-labelledby="deleteListLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteListLabel">Delete list with its books?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This list and all the books on it will be deleted. If some of the books appear on other lists, they
                    will stay there and be ranked as part of that lists.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't Delete</button>
                <a class="btn btn-danger" href="{% url 'list_delete' list.id %}">Delete List</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}